body
{
    background: #3f4042;
    color: #333;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33a;
    box-shadow: -49px -14px 38px 5px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 280px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 18px;
}


#container
{
    width: 70%;
    padding: 0;
    border: 3px solid rgb(90, 87, 87);
    text-align: left;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}

#post
{
    background: white;
    padding: 1em;
}
#footer
{
    background: #777;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 0.5em;
}